@font-face {
font-family: 'raleway';
src: url('fonts/raleway-extralight.woff2') format('woff2'),
url('fonts/raleway-extralight.woff') format('woff'),
url('fonts/raleway-extralight.ttf') format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'raleway';
src: url('fonts/raleway-regular.woff2') format('woff2'),
url('fonts/raleway-regular.woff') format('woff'),
url('fonts/raleway-regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'raleway';
src: url('fonts/raleway-medium.woff2') format('woff2'),
url('fonts/raleway-medium.woff') format('woff'),
url('fonts/raleway-medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'raleway';
src: url('fonts/raleway-semibold.woff2') format('woff2'),
url('fonts/raleway-semibold.woff') format('woff'),
url('fonts/raleway-semibold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'raleway';
src: url('fonts/raleway-bold.woff2') format('woff2'),
url('fonts/raleway-bold.woff') format('woff'),
url('fonts/raleway-bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: border-box; border: none; outline: none;}
ul{list-style: none;}
a{text-decoration: none; background: transparent; color:inherit; text-decoration:inherit;}
a, button{cursor: pointer;}
img{max-width: 100%; height: auto; border: 0;}
body{font-family: sans-serif; line-height: 1.2;}
.fonts-loaded body{font-family: 'raleway', sans-serif;}
h1, h2, h3, h4, h5, h6, th{font-weight:inherit; font-size:inherit;}
small{font-size: smaller;}

.wrap{max-width: 1140px; display: block; position: relative;}
.floatfix:after{content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}

.color-fff{color: #fff;}
.color-000{color: #000;}
.color-1-1{color: #13a89e;}
.color-1-2{color: #317692;}

.bg-fff{background-color: #fff;}
.bg-wpp{background-color: #2ab842;}
.bg-1-1{background-color: #13a89e;}
.bg-1-2{background-color: #edecec;}

.dsp-block{display: block;}
.dsp-none{display: none;}

.flt-center{margin: 0 auto;}
.flt-left{float: left;}
.flt-right{float: right;}

.pos-relative{position: relative;}

/* grid */
.row{width: 100%;}
.col-lg-6{width: 50%;}

.fw-exlight{font-weight: 300;}
.fw-light{font-weight: 300;}
.fw-regular{font-weight: 400;}
.fw-medium{font-weight: 500;}
.fw-smbold{font-weight: 600;}
.fw-bold{font-weight: 700;}
.fw-exbold{font-weight: 800;}
.fw-black{font-weight: 900;}

.txt-left{text-align: left;}
.txt-right{text-align: right;}
.txt-center{text-align: center;}
.txt-justify{text-align: justify;}

.dps-align-center{display: flex; align-items: center;}

.uppercase{text-transform: uppercase;}

.radius{border-radius: 7px;}
.shadow{box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)}
.txt-shadow{text-shadow: 5px 4px 5px rgba(0,0,0,0.2);}

.formLead label{display:block; margin-bottom: 20px; position:relative;}
.formLead input, .formLead textarea, .formLead select{width: 100%; height: 44px; padding: 0 15px; border-radius: 7px;}
.formLead input[type='radio']{width: auto; height: auto;}
.formLead textarea{height: 100px; padding: 12px 15px;}
.formLead button{width: 100%; padding: 20px 15px; font-size: 1.500em; border-radius: 15px; text-transform: uppercase; color: #fff; font-weight: 700; margin-top: 20px;}
.formLead .bg-wpp img{margin-right: 7px;}

.btn{background-color: #fd6002; color: #fff; padding: 20px 37px; border-radius: 17px; display: inline-block; font-weight: 700}
/*.btn:hover{background-color: #13a89e; transition: 0.5s;}*/
.btn:hover{background-color: #ededed; color: #13a89e; transition: 0.3s;}

.btn-show-mp{display: block; position: fixed; right: 0; bottom: 70px; max-width: 380px; width: 100%; overflow: hidden; border-radius: 15px 0 0 15px; z-index: 99;}
.btn-show-mp .figure{float: left; width: 20%; margin-top: 20px; padding-left: 15px;}
.btn-show-mp p{float: left; width: 80%; padding: 35px 12px;}
.btn-show-mp strong{display: block;}

.formLead .g-recaptcha{overflow:hidden;height:1;position:relative;}
.formLead .g-recaptcha .grecaptcha-badge{position:absolute;top:100%;left:100%;}
.formLead span.error{text-align:right;display:block;color:#ff0000;padding:0 0 0 0;line-height:1;position:absolute;right:0; top: 100%; font-size: 12px;}
.loader{position:fixed;top:0;left:0;display:none;z-index:999999;width:100%;height:100%;background:rgb(0, 0, 0);background:rgba(0, 0, 0, 0.50);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";}
.loader img{position:absolute;top:50%;left:50%;width:16px;height:16px;margin-top:-8px;margin-left:-8px;}
body .mfp-bg, body .mfp-wrap{z-index:999999;}
.white-popup, .default-popup{position:relative; padding: 50px 20px; width:auto; background-color: #1f1f3e; max-width: 425px; margin:20px auto;}
.white-popup .tt-3{margin-bottom: 20px;}
body .mfp-close-btn-in .mfp-close{width: 90px; right: 0; top: 5px;}
.mfp-close-btn-in .mfp-close{color: #fff; font-size: 14px;}

.webdoor{margin-bottom: 60px;}
.webdoor .slick-slide a{display: block;}
.webdoor .slick-slide img {position: relative; max-width: 100%;}
.webdoor button.slick-arrow { display:block; position:absolute;bottom: -30%; background:url('img/arrows.png') no-repeat -10px -7px; border:none; width:20px; height:30px; text-indent:-9999em; cursor:pointer;}
.webdoor button.slick-prev { left:250px;z-index: 99;}
.webdoor button.slick-next { right:250px; background-position:-54px -7px;}

/* Objetos */
/*
.icon{height: 112px; position: relative; display: block; margin: 0 auto;}
.icon::before{content: ""; display: inline-block; width: 1px; height: 112px; vertical-align: middle; position: relative; left: -1px;}
.icon::after{content: ""; background: url('img/spritesheets.png') no-repeat; display: inline-block; vertical-align: middle;}
.icon-menu::after{width: 40px;height: 34px;background-position: -280px -167px;}*/
.icon{display: block; background: url('img/spritesheets.png') no-repeat;}
.icon-menu{width: 40px;height: 34px;background-position: -280px -167px;}
.icon-ellipse{background-position: -14px -14px;}
.icon-menssage{width: 59px; height: 54px; background-position: -281px -93px;}
.icon-next{width: 63px; height: 63px; background-position: -281px -10px;}

.invisible{display: none;}

.list-topics li:before{content: ""; background-color: #13a89e; width: 5px; height: 5px; float: left; margin-top: 7px; margin-right: 10px;}
.list-topics li{padding: 5px 0; color: #000; text-align: left;}

.list-figure .fig-mask{width: 238px; position: relative; margin-left: auto; margin-right: auto; margin-bottom: 18px;}
.list-figure li:last-child{border-bottom: 0;}
.list-figure .fig-mask:before{content: ""; position: absolute; top: 0; left: 0; background: url('img/mascara.png') no-repeat; width: 238px; height: 238px; z-index: 1;}
.list-figure .fig-mask img{height: 238px;}

.header-txt{position: absolute; top: 200px; left: 80px; text-align: left; max-width: 570px;}
.header-txt .btn{margin-top: 42px;}

.page-home{background: url('img/bg-header.jpg') no-repeat center/cover; height: 1110px;}
#header .tt, #header .tt-3, #header .pp{margin-bottom: 10px;}
#logo{float: left; margin-top: 20px;}
#menu{float: right; max-width: 200px; display: block; margin-top: 16px;}
#menu nav{position: absolute; top: 60px; right: 0; max-width: 200px; padding: 10px 28px; border-radius: 10px;}
#menu nav a{display: block; margin: 20px 0; text-align: right;}
#menu nav a:hover{color: #13a89e;}
#ellipse{width: 245px; height: 242px; position: absolute; top: 159px; right: 200px;}
#ellipse .tt-2{margin-top: 45px; width: 115px; display: inline-block; margin-bottom: 10px;}
#ellipse .pp-2{position: relative; line-height: 1; width: 186px; display: inline-block;}
#ellipse .span-mil{width: 100%;}
#ellipse .span-preco{margin-top: -12px;}
#btn-next{position: absolute; bottom: -20px; left: 50%; margin-left: -32px;}

#section-1{padding: 84px 15px 145px 15px;}
#section-1 .pp{margin-top: 40px;}

#section-2{background: url('img/bg-nossas-dependencias.jpg') no-repeat center/cover; min-height: 520px; text-align: left;}
#section-2 .content{padding: 0 70px;}
#section-2 .tt-3{padding-top: 125px;}
#section-2 .list-topics{margin-top: 20px; margin-bottom: 60px;}

#section-3{padding: 146px 0;}
#section-3 .tt-3{max-width: 760px; display: inline-block; margin-bottom: 70px;}
#section-3 .list-figure li{width: 25%; display: inline-block; margin-bottom: 80px;}

#section-5{background: url('img/bg-viver-mapa-1.jpg') no-repeat center/cover; min-height: 850px; text-align: left;}
#section-5 .content{padding: 153px 0 0 60px;}
#section-5 .list-topics{margin: 45px 0;}

#section-6{background: url('img/bg-viver-mapa-2.jpg') no-repeat center/cover; min-height: 220px; text-align: left;}
#section-6 .content{padding: 28px 0;}
#section-6 .figure{float: left;}
#section-6 .tt-4{padding-top: 50px; padding-left: 30px; float: left;}
#section-6 .btn{float: right; margin-top: 50px;}
#section-6 .graf-familia{position: absolute; right: 285px; top: -32px;}

#footer{background: url('img/bg-footer.jpg') no-repeat center/cover; min-height: 630px; padding-bottom: 20px;}
#article-form-1{max-width: 375px; display: block; margin-left: auto; margin-right: auto; padding-top: 85px;}
#article-form-1 .tt-5{margin-bottom: 30px;}
#footer .adress{margin-top: 62px; margin-bottom: 55px; display: inline-block;}

#developer{position: absolute; top: -7px; right: 0;}

/* planta */
.page-planta{background: url('img/planta/bg-header-planta.jpg') no-repeat center/cover; height: 600px;}
#page-planta-1{padding-bottom: 226px;}
#page-planta-1 .bloco-texto{padding-top: 137px; padding-bottom: 80px; text-align: left; padding-left: 30px;}
#page-planta-1 .fig-estacionamento{padding-top: 100px; display: inline-block;}

/* lazer */
.page-lazer{background: url('img/lazer/bg-header-lazer.jpg') no-repeat center/cover; height: 600px;}
#page-lazer-1{padding-bottom: 160px;}
#page-lazer-1 .list-figure li{width: 33.33%; display: inline-block; margin-bottom: 80px;}

/* Ação Social */
.page-acao-social{background: url('img/acao-social/bg-header-acao-social.jpg') no-repeat center/cover; height: 600px;}

/* localização */
.page-localizacao{background: url('img/localizacao/bg-header-localizacao.jpg') no-repeat center/cover; min-height: 1164px;}
.page-localizacao .list-topics{margin-top: 35px;}

/* font-size */
#copyright{font-size: 12px;}
.btn{font-size: 14px;}
#section-1 .pp, .header-txt .pp{font-size: 15px;}
.formLead button, #ellipse .tt-2, #ellipse .pp-2{font-size: 16px;}
.tt-5, .list-figure{font-size: 18px;}
.tt-3{font-size: 20px;}
.page-home .header-txt .pp, .btn-show-mp{font-size: 25px;}
.tt-6{font-size: 30px;}
.tt-4{font-size: 35px;}
#ellipse .span-mil{font-size: 28px;}
.tt{font-size: 42px;}
.subtt{font-size: 45px;}
#ellipse .span-preco{font-size: 102px;}

@media screen and (max-width: 768px){

  .invisible{display: block;}
  .xs-hidden{display: none;}
  .col-sm-12{width: 100%;}

  .btn-show-mp{border-radius: initial; padding: 20px 0; max-width: initial;}
  .btn-show-mp p{padding: 18px 12px;}
  .btn-show-mp .figure{margin-top: 0px;}
  .btn-show-mp, #header .txt-content, #ellipse, #btn-next, #developer{position: static;}

  .header-txt{position: static; display: block; text-align: center; padding-top: 175px;}
  .header-txt .pp, .header-txt .tt-3{margin-bottom: 40px;}

  .header-txt .btn{margin-bottom: 42px;}

  #header{background: none; height: auto; padding-bottom: 40px; padding-left: 15px; padding-right: 15px; min-height: initial;}
  #menu{margin-top: 30px;}
  #btn-next{display: block; margin-left: 0;}

  #section-6 .figure, #section-6 .tt-4, #section-6 .btn{float: none;}

  #section-2 .content, #section-5 .content, #footer,
  #page-planta-1, #page-lazer-1, #section-3 , #section-6 .content, #footer{padding: 40px 15px;}
  #ellipse, #btn-next, #section-2 .content, #section-5 .content, #footer,
  #page-planta-1, #page-lazer-1, #section-3{text-align: center;}
  #ellipse, #btn-next .icon-next{margin: 20px auto;}

  #section-2, #section-5, #section-6{background: none; text-align: center; background-color: #edecec; min-height: auto;}
  #section-3 .list-figure li, #page-lazer-1 .list-figure li{width: 100%; margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #ccc;}
  #section-3 .list-figure li:last-child, #page-lazer-1 .list-figure li:last-child{border-bottom: none;}

  #footer{background: none; background-color: #13a89e;}
  #developer{margin-top: 20px; display: block;}

  #section-2 .tt-3{padding-top: 40px;}
  #section-6 .tt-4{padding-left: 0;}

  #page-planta-1 .bloco-texto{text-align: center; padding: 40px 0;}

  .page-localizacao .list-topics{margin-bottom: 40px;}

  /* font-size */
  .header-txt .tt{font-size: 36px;}
  .tt, .tt-2, .tt-3, .tt-4, .subtt{font-size: 22px;}
  #form-leads-mp .tt, .tt-5, .tt-6, .btn-show-mp{font-size: 18px}
  #form-lead-1 .tt{font-size: 12px;}

}
